body{
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    min-width: 400px;
}

input[type="text"]{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 50px;
    border: 3px solid #2800D7;
    border-radius: 4px;
}

#input-btn{
    background-color: #2800D7;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

#tab-btn{
    background-color: #2800D7;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

#delete-btn{
    background-color: white;
    color: #2800D7;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li a{
    padding: 10px;
    color: #2800D7;
    font-size: 20px;
}

li{
    margin-top: 5px;
}